.card-title {
  text-align: left;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.card-header {
  background-color: #1da1f2 !important;
  color: #1da1f2 !important;
}

.card {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  float: none;
  margin-bottom: 10px;
}

.button-logout {
  float:right;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  margin: auto;
  text-align: right;
}

.page-title {
  float:center;
  width: 100%;
  margin: auto;
}

.card-group {
  margin-top: 100px;
}

.my-pagination {
  text-align: center;
}
