<div class="row">
  <div class="col-lg-4 col-xs-4" style="margin-top: 25px;">
    <h2>Your's interests</h2>
    <ul class="list-group form-add-interest">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of checkedList">
        {{item.interest.prefijo + item.interest.name}}
        <div class="form-check">
          <input type="checkbox" [(ngModel)]="item.check" (change)="refreshListOfTweets()">
          <label class="form-check-label" for="exampleCheck1"  >See</label>
        </div>

      </li>
    </ul>
    <button type="submit" class="btn btn-primary btn-sm float-sm-right" (click)="seeTweetsOfAllInterests()" >See All</button>
  </div>
  <div class="clearfix visible-xs"></div>
  <ng4-loading-spinner> </ng4-loading-spinner>
  <div class="col-lg-8 col-xs-8">
        <div *ngFor="let tweet of tweets | paginate: {itemsPerPage: pageSize,
                                                      currentPage: currentPage}">
          <div class="card text-center">
            <div class="card-header">
              <h2 class="card-title">{{tweet.author}}</h2>
            </div>
            <div class="card-body">
              <p class="card-text">{{tweet.text}}</p>
            </div>
            <div class="card-footer text-muted">
              <p>{{tweet.createdAt | date:'fullDate'}}</p>
            </div>
          </div>
        </div>
        <div [hidden]="!showPagination">
          <pagination-controls class="my-pagination" autoHide="true"
            (pageChange)="currentPage = $event"></pagination-controls>
        </div>
  </div>
</div>
